<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body class="bg-background-basic font-main">

<!--login section-->
<section>
  <!--login container (custom w)-->
  <div class="max-w-[1366px] mx-auto grid grid-cols-1 justify-items-center align-top gap-[100px]">

    <div class="w-fit h-fit mt-[273px]">
      <img src="assets/images/Logo3%201.svg" alt="logo">
    </div>

    <!--auth form-->
    <div class="grid grid-rows-3 gap-0 justify-center w-[410px] h-fit mb-[274px] ">
      <div class="box-content  w-[410px] mb-[40px]">
        <h1 class="text-black-brand font-bold text-[36px]/[56px] tracking-[-0.72px] mb-[8px]">Добро пожаловать</h1>
        <p class="text-grey-dark font-normal text-[16px]/[100%] tracking-[-0.32px]">Авторизуйтесь чтобы продолжить</p>
      </div>
      <div class="w-[410px] h-fit mb-[24px]">
        <p class="mb-[13px]">Логин*</p>
        <input placeholder="mail@simmmple.com"
               class="w-full h-[50px] rounded-[5px] border-table-stroke border-[1px] border-solid">
      </div>

      <div class="relative w-[410px] mb-[33px]">
        <p class="mb-[13px]">Пароль*</p>
        <input placeholder="Минимум 8 символов"
               class="w-full h-[50px] rounded-[5px] border-table-stroke border-[1px] border-solid flex"
               [type]="showPassword ? 'text' : 'password'">
        <span class="absolute top-[52px] right-[10px] " (click)="togglePasswordVisibility()">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
  <g clip-path="url(#clip0_2_702)">
    <path d="M9.99999 5.41667C13.1583 5.41667 15.975 7.19167 17.35 10C15.975 12.8083 13.1667 14.5833 9.99999 14.5833C6.83333 14.5833 4.02499 12.8083 2.64999 10C4.02499 7.19167 6.84166 5.41667 9.99999 5.41667ZM9.99999 3.75C5.83333 3.75 2.27499 6.34167 0.833328 10C2.27499 13.6583 5.83333 16.25 9.99999 16.25C14.1667 16.25 17.725 13.6583 19.1667 10C17.725 6.34167 14.1667 3.75 9.99999 3.75ZM9.99999 7.91667C11.15 7.91667 12.0833 8.85 12.0833 10C12.0833 11.15 11.15 12.0833 9.99999 12.0833C8.84999 12.0833 7.91666 11.15 7.91666 10C7.91666 8.85 8.84999 7.91667 9.99999 7.91667ZM9.99999 6.25C7.93333 6.25 6.24999 7.93333 6.24999 10C6.24999 12.0667 7.93333 13.75 9.99999 13.75C12.0667 13.75 13.75 12.0667 13.75 10C13.75 7.93333 12.0667 6.25 9.99999 6.25Z" fill="#4C54F4"/>
  </g>
  <defs>
    <clipPath id="clip0_2_702">
      <rect width="20" height="20" fill="white"/>
    </clipPath>
  </defs>
</svg>
        </span>
      </div>
      <div class=" w-[410px] flex justify-between h-fit mb-[33px]">
        <div class="flex content-baseline">
          <div class="flex items-end">
            <input checked id="checked-checkbox" type="checkbox" value=""
                   class="w-4 h-4 text-blue-brand bg-blue-brand border-gray-300 rounded focus:ring-blue-brand dark:focus:ring-blue-brand dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="checked-checkbox"
                   class="ms-2 text-sm font-medium text-black-brand dark:text-gray-300">Запомнить</label>
          </div>
        </div>
        <div class="flex items-end">
          <a href="#" class="text-blue-brand ">Забыли пароль?</a>
        </div>
      </div>
      <div class="flex justify-center items-center h-fit">
        <button class="flex justify-center items-center px-[32px] py-[16px] w-[118px] h-[54px] box-border text-true-white text-[18px]/normal
       font-semibold bg-blue-brand rounded-[12px]">
          Войти
        </button>
      </div>
    </div>
  </div>
</section>
</body>
</html>
